<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cimbalino.Toolkit.Core" version="2.5.2" targetFramework="xamarinios10" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="xamarinios10" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="xamarinios10" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Share" version="5.0.0" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.59.3" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="1.59.3" targetFramework="xamarinios10" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Telerik.UI.for.Xamarin" version="2018.1.117.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="xamarinios10" />
</packages>