name: MAUI Main

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/XkcdViewer.Maui/**/*'
      - '.github/workflows/main.yml' 

defaults:
  run:
    shell: pwsh

env:
  XCODE_VERSION: '26.2'
  DOTNET_VERSION: "10.0.x"
  WINDOWS_TFM: "net10.0-windows10.0.22621.0"
  ANDROID_TFM: "net10.0-android"
  IOS_TFM: "net10.0-ios"
  MACOS_TFM: "net10.0-maccatalyst"
  PROJECT_PATH: "src/XkcdViewer.Maui/XkcdViewer.Maui.csproj"
  NUGETCONFIG_PATH: "src/nuget.config"
  BUILD_CONFIG: Debug
  TELERIK_USERNAME: ${{secrets.MyTelerikAccountUsername}}
  TELERIK_PASSWORD: ${{secrets.MyTelerikAccountPassword}}
  TELERIK_LICENSE: ${{secrets.MY_TELERIK_LICENSE_KEY}}

jobs:
# ***************************** #
# >>>>>>> Android build <<<<<<< #
# ***************************** #
  maui-android:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{env.DOTNET_VERSION}}

    - uses: actions/setup-java@v4
      with:
        distribution: 'microsoft'
        java-version: '11'

    - name: Install MAUI workload
      run: dotnet workload install maui --source https://api.nuget.org/v3/index.json

    - name: Restore NuGet packages
      run: dotnet restore ${{env.PROJECT_PATH}} --configfile ${{env.NUGETCONFIG_PATH}}

    - name: Build Maui Android project
      run: dotnet build ${{env.PROJECT_PATH}} -c ${{env.BUILD_CONFIG}} -f "${{env.ANDROID_TFM}}" --no-restore


# ***************************** #
# >>>>>>> Windows Build <<<<<<< #
# ***************************** #
  maui-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{env.DOTNET_VERSION}}

    # For WinUI builds
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Install MAUI workload
      run: dotnet workload install maui --source https://api.nuget.org/v3/index.json

    - name: Restore NuGet packages
      run: dotnet restore ${{env.PROJECT_PATH}} --configfile ${{env.NUGETCONFIG_PATH}}

    - name: Build Maui WinUI project
      run: dotnet build ${{env.PROJECT_PATH}} -c ${{env.BUILD_CONFIG}} -f "${{env.WINDOWS_TFM}}" --no-restore


# ************************* #
# >>>>>>> iOS Build <<<<<<< #
# ************************* #
  maui-ios:
    runs-on: macos-26
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # No longer needed, the macos-26 runner has 26.2 installed
    # - name: Download Xcode 26.2
    #   run: |
    #     XCODE_PATH="/Applications/Xcode_${{env.XCODE_VERSION}}.app/Contents/Developer"
    #     if [ ! -d "$XCODE_PATH" ]; then
    #       echo "Downloading Xcode ${{env.XCODE_VERSION}}..."
    #       sudo xcode-select --switch /Applications/Xcode_${{env.XCODE_VERSION}}.app/Contents/Developer
    #     fi

    # Switch to the required Xcode version
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{env.XCODE_VERSION}}

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{env.DOTNET_VERSION}}

    - name: Install MAUI workload
      run: dotnet workload install maui --source https://api.nuget.org/v3/index.json

    - name: Restore NuGet packages
      run: dotnet restore ${{env.PROJECT_PATH}} --configfile ${{env.NUGETCONFIG_PATH}}

    - name: Build iOS project
      run: dotnet build ${{env.PROJECT_PATH}} -c ${{env.BUILD_CONFIG}} -f "${{env.IOS_TFM}}" --no-restore -p:MtouchLink=SdkOnly

# ********************************* #
# >>>>>>> MacCatalyst Build <<<<<<< #
# ********************************* #
  maui-maccatalyst:
    runs-on: macos-26
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{env.DOTNET_VERSION}}

    # No longer needed, the macos-26 runner has 26.2 installed
    # - name: Download Xcode 26.2
    #   run: |
    #     XCODE_PATH="/Applications/Xcode_${{env.XCODE_VERSION}}.app/Contents/Developer"
    #     if [ ! -d "$XCODE_PATH" ]; then
    #       echo "Downloading Xcode ${{env.XCODE_VERSION}}..."
    #       sudo xcode-select --switch /Applications/Xcode_${{env.XCODE_VERSION}}.app/Contents/Developer
    #     fi

    # Switch to the required Xcode version
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{env.XCODE_VERSION}}

    - name: Install MAUI workload
      run: dotnet workload install maui --source https://api.nuget.org/v3/index.json

    - name: Restore NuGet packages
      run: dotnet restore ${{env.PROJECT_PATH}} --configfile ${{env.NUGETCONFIG_PATH}}
      
    - name: Build MacCatalyst project
      run: dotnet build ${{env.PROJECT_PATH}} -c ${{env.BUILD_CONFIG}} -f "${{env.MACOS_TFM}}" --no-restore -p:MtouchLink=SdkOnly